---
layout: archive
permalink: /year-archive/
title: "Introducción a las Computadoras"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
Aquí encontraras información de calidad sobre computadoras en español.
<br/> 

Publicaciones se enfocarán en:
<br/>
* intro a las ciencias en computadoras (cs) de forma general, incluyendo 
  * definición y aplicaciones 
  * especialidades dentro de cs (e.g., diseñadores, científicos, programadores)
  * fundamentos basicos 
* opiniones relacionadas a cs 
  * pq estudiar cs
  * perspectiva de la industria
<br/>

(Este blog no te va a enseñar a programar, si no obtener una idea del tema en general.)
<br/>

Para recomendaciones y preguntas escribe por Twitter (@herminiobodon), o enviamé un email (bodon@u.northwestern.edu).

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
